/* TextShowAnimation.module.css */
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin:0px 10px;
}

.relativeContainer {
  position: relative;
  background-color: #68d391; /* green-400 equivalent */
  width: fit-content;
}

.animatedBox {
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 3rem; /* Adjust as needed */
  display: flex;
  /* background-color: #f56565; red-600 equivalent */
  width: fit-content;
  
}

.letter {
  z-index: 19;
  font-size:1rem ;
  color: black;
  display: inline-block;
  transform: translateY(25px);
  opacity: 0;
}
